params {
    input = None
    output_path = "pipeline_output"
    tax_folder = None
    db_folder = None
    test_data_base                    = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules'
    modules_testdata_base_path        = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'

}

profiles {

    codon_slurm {
            includeConfig "configs/codon_slurm.config"
        }
    
    test_local { 
            includeConfig 'configs/test_local.config'
        }
}

includeConfig 'configs/modules.config'
includeConfig 'configs/base.config'

plugins {
    id 'nf-schema@2.3.0' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}