params {

    input_proteins = "/Users/sofia/mgnify/taxonomy_nf/subworkflows/taxonomy/tests/data/proteins.fasta"
    taxonomy_db = "/Users/sofia/mgnify/taxonomy_nf/subworkflows/taxonomy/tests/data/uniref90_test.dmnd"

}

profiles {

    codon_slurm {
            includeConfig "configs/codon_slurm.config"
        }
    
    test_local { 
            includeConfig 'configs/test_local.config'
        }
}

includeConfig 'configs/modules.config'
includeConfig 'configs/base.config'