/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: MINIMAP2_ALIGN {
        ext.args = "-x asm5"
    }

    withName: FINALISE_OUTPUT {
        publishDir = [
            path: { "${params.output_path}" },
            mode: 'copy'
        ]
    }
    
    withName: FIND_PRIMARY_ASSEMBLY {
        cpus   = { 1                    }
        memory = { 15.GB * task.attempt }
        time   = { 4.h  * task.attempt  }
    }
}
