workDir        = "work/"

params {
    outdir     = "./test_result"
}

docker {
    enabled    = true
    registry   = 'quay.io'
    runOptions = "--platform linux/amd64"
}

executor {
    name       = "local"
    cpus       = 2
    memory     = '1 GB'
}

singularity {
    enabled    = false
}

process {
        resourceLimits = [
            cpus: 2,
            memory: 1.GB,
            time: 1.h
            ]
        }